html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(158, 158, 202);
}

nav{
    background-color: rgb(54, 54, 167);
   height:60px;
}

.navigation-list {
    text-align: right;
    margin-top: 0px;
    padding-top: 10px;
    
}
 li{
    display: inline;
    list-style-type: none;
    padding: 0px 5px;

}
.nav-list {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top:60px;
    color:rgb(46, 46, 187);
}
input,button{
    display:block;
    margin:auto;
   
}
label{
    display:block;
    text-align:center;
    padding:10px;
}
input{
    width:60%;
    height:20px;
}
button{
    margin-top:20px;
    width:110px;
    height:40px;
    font-size: 18px;
    border-radius: 5px;

}
button:hover{
    background-color:rgb(67, 67, 218);
}
#underline1,#underline2,#underline3,#underline4{
    text-decoration: underline;
}
#result,span{

    margin:auto;
    color:rgb(32, 32, 139);
    font-weight:bold;
    font-size: 30px;
    display:block;
    margin-top:40px;
    text-align:center;
    padding:50px;
    margin-bottom: 200px;
}